flask
python-dotenv #to register environment variables that you want to be automatically used when you run the flask command.
flask-wtf
flask-sqlalchemy
flask-migrate
flask-login
email-validator
flask-mail
pyjwt  #to generate secure tokens (for reset_password feature)
aiosmtpd  # to test email feature