{% extends "base.html" %}

{% block content %}
<h1>Add Income</h1>
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.amount.label }}<br>
        {{ form.amount(size=32) }}<br>
        {% for error in form.amount.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(query=Category.query.filter_by(transaction_type='income', deleted=False).all(), size=32) }}<br>
        {% for error in form.category.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p><a href="{{ url_for('add_income_category') }}">Add New Income Category</a></p>

    <p>
        {{ form.description.label }}<br>
        {{ form.description(rows=4, cols=40) }}<br>
        {% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
