{% extends "base.html" %}

{% block content %}
  <h1>Update Password</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.current_password.label }}<br>
      {{ form.current_password(size=64) }}
      {% for error in form.current_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.new_password.label }}<br>
      {{ form.new_password(size=64) }}
      {% for error in form.new_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.confirm_new_password.label }}<br>
      {{ form.confirm_new_password(size=64) }}
      {% for error in form.confirm_new_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    {% if form.errors %}
      <p style="color: red;">Please correct the errors above.</p>
    {% endif %}
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}